@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&display=swap');


body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: #390202;

}

@media only screen and (max-width: 768px) {

    header {

        background-color: #f3cea1f6;
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    h1 {
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        margin: 0%;
        text-align: center;
        margin-top: 20px;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-align: center;
        margin: 5%;
    }


    #input {
        margin: 5%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #genere {
        margin: 1%;
        padding: 3%;
        margin-top: 10px;
        font-family: 'EB Garamond', serif;
        font-size: large;
        border: none;
        border-radius: 10px;
        text-transform: lowercase;
    }

    #submit {
        margin: 1%;
        padding: 3%;
        font-family: 'EB Garamond', serif;
        font-size: large;
        border: none;
        background-color: #f3cea1f6;
        border-radius: 10px;
    }

    #submit:hover {
        border-style: solid;
        border-color: #5e4a23;
    }

    #genere:hover {
        border-style: solid;
        border-color: #5e4a23;
    }


    #output {
        font-family: 'Gupter', serif;
        margin: 5;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 100px;
    }

    .author{
        width: 50%;
        margin-left: 25%;
        color: #f3cea1f6;
    }


    a {
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        color: #e28c35;
    }

    a:link {
        color: #e28c35;
    }

    a:visited {
        color: #e28426;
        
    }

    .description {
        background-color: #f3cea1f6;
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #container{
        margin: 100px;
    }
}

@media only screen  and (max-width: 2000px) and (min-width: 769px) {

    header {

        background-color: #f3cea1f6;
        display: flex;
        flex-direction: column;

    }

    h1 {
        font-family: 'EB Garamond', serif;
        margin: 0%;
        text-align: center;
        margin-top: 20px;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-align: center;
        margin: 5%;
    }


    #input {
        margin: 5%;
        margin-left: 34%;
        width: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #genere {
        margin: 1%;
        padding: 3%;
        font-family: 'EB Garamond', serif;
        font-size: large;
        border: none;
        background-color: #f3cea1f6;
        border-radius: 10px;
        text-transform: lowercase;
    }

    #submit {
        margin: 1%;
        padding: 3%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        border: none;
        background-color: #f3cea1f6;
        border-radius: 10px;
    }

    #submit:hover {
        border-style: solid;
        border-color: #5e4a23;
    }

    #genere:hover {
        border-style: solid;
        border-color: #5e4a23;
    }


    #output {
        font-family: 'Gupter', serif;
        margin: 5;
        margin-left: 0px;
        text-align: center;
    }

    .author{
        width: 50%;
        margin-left: 25%;
        color: #f3cea1f6;
    }


    a {
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        color: #e28c35;
    }

    a:link {
        color: #e28c35;
    }

    a:visited {
        color: #e28c35;
        
    }

    .description {
        background-color: #f3cea1f6;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
        margin-top: 10px;
        padding: 20px;
    }

    #container{
        margin: 100px;
    }

}